@charset "utf-8";
/* CSS Document */



	ul.menu { float:left; height:87px; padding:0px 0px; margin:0px; }

	ul.menu li { display:inline; float:left; height:87px; border-bottom:5px solid #378ca4;  padding:0px 46px 0px 2px; position:relative; text-decoration:none;   -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease; }

	ul.menu li a { font-size:20px; font-family:'Oswald', sans-serif; color:#dcb60c; text-transform:uppercase; float:left; text-decoration:none;  -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;  }

	ul.menu li a span { font:normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#ff8a7e; text-transform:none; text-decoration:none; display:block; padding:22px 0px 0px; }

	ul.menu li a:hover { text-decoration:none; }

	ul.menu li.current_page_item, ul.menu li:hover { border-bottom:5px solid #dcb60c; }

	ul.menu li.current_page_item a span { background:url(images/menu-active-arrow.png) left top no-repeat; }

	ul.menu ul { position:absolute; display:none; width:185px; padding:5px 0px; top:92px; background:#0e3242; left:0px; border-bottom:5px solid #000; }

	ul.menu li ul li { padding:0px; margin:0px; height:auto; border:none; padding:0px;  -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease; }

	ul.menu li ul li:hover { border:none; }

	ul.menu li ul li a { width:165px; height:auto; float:left; line-height:24px; padding:5px 15px; margin:0px; font-size:14px; }

	ul.menu li ul li a:hover, ul.menu ul li:hover a { color:#000; }

	ul.menu li ul li:hover ul li:hover a { color:#fff; }

	ul.menu li ul li:hover ul li a, ul.menu li ul li:hover ul li:hover ul li a { color:#fff; }

	ul.menu li ul li:hover ul li a:hover, ul.menu li ul li:hover ul li:hover ul li a:hover { color:#000; }

	ul.menu li ul li ul { border-top:none; }

	ul.menu li ul li ul li { background:url(images/dropbg.png); }

	ul.menu ul ul { top:auto; }

	ul.menu li ul ul { left:185px; margin:0px 0 0 0px; }

	ul.menu li:hover ul ul, ul.menu li:hover ul ul ul, ul.menu li:hover ul ul ul ul { display:none; }

    ul.menu li:hover ul, ul.menu li li:hover ul, ul.menu li li li:hover ul, ul.menu li li li li:hover ul { display:block; }
