.rcn{
  border:1px solid black;
  border: 5px solid #49382a;
  padding: 10px 10px;
  width: 50%;
  margin-top:2%;
  margin-bottom: 2%;
}
.form-control{
  background-color: #4c3725;
  opacity: 0.5;
  color:#f5f5f5
}
.panel-body{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-color: #712570;
  background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;

}
.h3{
  margin-top: 18px;
    text-align: center;
}
.panel-default>.panel-heading {
    color: #c0c0c0;
    /* background-color:#D936A3; */
    /* background-color: #D936A3; /* For browsers that do not support gradients
  background-image: linear-gradient(#D936A3, #86ccef);
    border-color: #a71b1b; */
    background: url("/static/beautyapp/images/fl.jpeg") ;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: top;

}
.panelrow{
  padding: 10px 10px;

}
.panelp{
  color: #051bbd;
padding-left: 18px;
margin-bottom: 2%;
font-size: 20px;
font-weight: 700;
font-style: italic;
text-align: justify;

}
.sfull{
  margin-left: -20%;
    margin-top: -1px;
    color:#e8db27;
}
.simg{
  border-radius:50%;
border:4px solid #553924
}
.simg:hover{
  border-radius:50%;
border:4px solid gold;
}

.sprice{
  background-color: #f18d3c;
      height: 56px;
    }
.stime{
  background-color: #ec3d6b;
  height: 56px;
}
.srow{
  padding: 10px 10px;

}
.btn-success{
  background-color: #664328;
  border-color:#664328;

}
.btn-success{
  background-color: #664328;
  border-color:#664328;
  opacity: 0.5;
}
.abtp{
  background: url("/static/beautyapp/images/lg1.jpeg") ;
opacity: 0.5;
padding: 20px 20px;
color:gold;
margin-bottom: 2%;
}
.waximg{
  height: 300px;
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.panelps{
  text-align:center;
  line-height:1.5;
  color:#31708f;
  font-size:22px
}
.sprices{
  background-color: #f79648;
    height: 56px;
}
.stimes{background-color: #f74a78;
    height: 56px;
  }
.bx{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background: linear-gradient(to bottom, #179cde 0%, #a5a3b7 100%);
padding:10px 10px;
border-radius: 10px;
}

h3{
  color:gold;
  font-weight: 700;
  color:white;
}
.location{
  font-size:5rem;
  color:gold;
}
.logohd {
  margin-top:-20px;
  height: 93px;
      /* background-position: center; */
      background-repeat: no-repeat;
      background-size: cover;
  }
  .logo{
    color: #FFFFFF;
    text-transform:uppercase;
    padding-top:15px;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }
.lhr{
  margin-top:1px;
}
.cdiv{
  margin-top:2%;
}
.h1{
  color:red;
}
.mencn{
  background-color: #722570;
    border: 5px solid #130217;
    padding: 10px 10px;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.sh5{
  color: #dff0d8;
    text-transform: uppercase;
}
.serimgs{
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.user{
  font-weight: 900; margin-right: 35px;margin-top: 13px;color: #eee;font-size: 14px;

}
.banner{
height:262px;
background-size: cover;

background-repeat:no-repeat;
border-radius:61px;background-position:center;
margin-top:21px;
height:262px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.banners{
  margin-left: -53px;

}
.banner1{
background-color:#cfe0cd;
height:243px;
background-repeat:no-repeat;
border-radius:30px;
margin-left:-57px;
margin-top:26px;
z-index:4;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner2{
background-color:#cfe0cd;
height:243px;
background-repeat:no-repeat;
border-radius:30px;
margin-top:29px;
z-index:4;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cncbanner{
  border: 5px solid #6c6c6c;
  margin-bottom:2%;
  padding:10px 10px;
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bannerrow{
  padding: 10px 10px;
    margin-left: 27px;
}
.desbanner{
  height:100px;
  border-radius:10px;
  background-color:green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left:3%;margin-right:3%
}
/* gallery css */
.modal-dialog {width:600px;}
.thumbnail {
  display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #1d0d02;
border: 1px solid #ddd;
border-radius: 4px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.bannerprice{
  height:50px;
  border-radius:10px;
  background-color:#523376;box-shadow:  0 75px 64px 0 rgba(0, 0, 0, 0.2), 0 18px 41px 0 rgba(0, 0, 0, 0.19);
  margin-left:1%;margin-right:0%;margin-top:2%
}
.bannerp{
  font-size:17px;
color:white;padding:10px 10px;font-family:auto;
text-align: justify;

}
.sp{
  color: #ddd;
  padding-top: 10px;
  font-size: 19px;
  font-weight: 700;
  text-align: justify;
  font-family:cursive;


}

.sn   {
    font-weight: 700;
    color: silver;
    /* letter-spacing: 3px; */
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    padding-top: 7px;
    margin-left: 19px;
}
.sb{
  font-size: 19px;
margin-top: -5px;
text-transform: uppercase;
}
inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  background-color: #1d0d02;
  border-style: none;
  height:355px;
}


.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
/*end gallery css*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}



.child {
  /* background-color: rgba(220,220,220,.5); */
  padding-top: 50px;
  height: auto;
  position: relative;
}
.sh5{
  text-transform: uppercase;
    color: #eee;
    font-size: 18px;
    font-weight: 700;

}
.panel-body{
  width: 100%;
    height: 500px;
}
.mn{
  color:black;font-size:25px
}

@media screen and (max-width: 767px) {
  .rcn {
    width:100%;
  }
  .sfull{
    margin-left: 9%;
    margin-top: -16px;
    color:white;
  }
.banner{
  margin-left: -21px;
}
.banner1{
  margin-left:-12px;
  margin-top:-25px;
  height:auto;
}
.cncbanner{
  height:auto;
}
.desbanner{
  height:auto;
}
.bannerprice{
  height:auto;
}
.bannerp{
  text-align: justify;
  text-align: center;
}
.bannerp1{
  margin-top:-26px;
  text-align: center;
}
.panelp{
  line-height: 1.5;
}
h3{
  font-size:21px;
  padding-top:16px;
}
.panel-body{
  height:auto;
}
.logo{
  padding-top:6px;
}
.sh4{
  padding-top:25px;
}
.panel-body{
  height: auto;
}
.fac{
  padding-left: 5px;
    padding-right: 5px;
}
}
