{% extends 'dashboard/index.html' %}
{% load static %}
{% block addcity %}
<div class="container">
<form class="form-inline" id="add_form"  action="{% url 'addservice' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="city">Add Service</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="text" name="name" class="form-control"  required="required"/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <button type="submit" class="btn btn-sm btn-primary"> ADD</button>
    </div>
</form>

<br /></div>
<div class="container">
<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
      {% for serviced in service %}
        <tr>
            <td>{{serviced.id }}</td>
            <td>{{ serviced.name }}</td>
            <input type="hidden" name="{{ serviced.id }}" value="">
            <td><center><a class="btn btn-sm btn-warning" onclick="modify_{{ serviced.id }}()" data-toggle="modal" data-target="#myModal">
             Edit</a> <a class="btn btn-sm btn-danger"   onclick="delete_{{ serviced.id }}()" href="deletes/{{ serviced.id }}">
                 Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title text-center">EDIT SERVICES</h4>
        </div>
        <div class="modal-body">
          <form id="modify_form" method="POST">
              {% csrf_token %}
              <div class="form-group">
                  <label for="name">Change Service</label>
                  <input id="service_name" type="text" name="name"  required="required"/>
              </div>

              <div class="form-group">
                  <button type="submit" class="btn btn-sm btn-success">Update</button>
              </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
<script>
  {% for serviced in service %}

  function modify_{{ serviced.id }}()
  {
    console.log("{{ serviced.id }}")
    $("#service_name").val("{{ serviced.name }}")
    $("#modify_form").attr("action","modify/{{ serviced.id}}")
  }



  {% endfor %}
</script>
{% endblock %}
