{% extends 'dashboard/index.html' %}
{% block addcity %}
  <div class="col-lg-12 text-center"><h3>Carriers List<hr class="hr1">
</h3></div><br>
<div class="container table-responsive">

  <table id="dtBasicExample" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
    <thead class="alert-warning">
      <tr>
        <th class="text-center th-sm" > Name</th>
        <th class="text-center th-sm">Address</th>
        <th class="text-center th-sm"> Date</th>
        <th class="text-center th-sm">Email </th>
        <th class="text-center th-sm">Mobile_NO</th>
        <th class="text-center th-sm">Experiance</th>
        <th class="text-center th-sm">Last Salary</th>
        <th class="text-center th-sm">Resume</th>
      </tr>
    </thead>
    <tbody>

      {% for job in careers %}
      <tr>
        <td class="text-center">{{job.name}}</td>
        <td class="text-center">{{job.address}}</td>
        <td class="text-center">{{job.date}}</td>
        <td class="text-center">{{job.email}}</td>
        <td class="text-center">{{job.mobileno}}</td>
        <td class="text-center">{{job.totalexp}}</td>
        <td class="text-center">{{job.lastsalary}}</td>
        <a href=""> <td class="text-center">{{job.fileupload}}</td> </a>
      </tr>
      {% endfor %}


    </tbody>
    <tfoot class="alert-warning">
      <tr>
        <th> Name</th>
        <th>Address</th>
        <th> Date</th>
        <th >Email </th>
        <th>Mobile_NO</th>
        <th >Experiance</th>
        <th >Last Salary</th>
        <th>Resume</th>
      </tr>
    </tfoot>
  </table>
</div>


{%endblock%}
