{% extends 'dashboard/index.html' %}
{% block addcity %}
  <div class="col-lg-12 text-center "><h3>Guests List  <hr class="hr1">
</h3></div><br>
<div class="container table-responsive">

<table id="dtBasicExample" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
  <thead class="alert-warning">
    <tr>
      <th class=" text-center th-sm">Name

      </th>
      <th class=" text-center th-sm">Mobile_NO

      </th>
      <th class="text-center th-sm">Service

      </th>
      <th class=" text-center th-sm">Staff

      </th>
      <th class="text-center th-sm">Time

      </th>
      <th class=" text-center th-sm">Service

      </th>
      <th class="text-center th-sm">Action

      </th>
    </tr>
  </thead>
  <tbody>

      {% for app in appointment %}
<tr>

      <td class="text-center">{{app.name}}</td>
      <td class="text-center">{{app.mobileno}}</td>
      <td class="text-center">{{app.city}}</td>
      <td class="text-center">{{app.date}}</td>
      <td class="text-center">{{app.time}}</td>
      <td class="text-center">{{app.services}}</td>
      <td class="text-center"> <a class="btn btn-sm btn-danger"  href="appointment/deleted/{{app.id}}">Delete</a></td>
</tr>
      {% endfor %}


  </tbody>
  <tfoot class="alert-warning">
    <tr>
      <th class=" text-center th-sm">Name

      </th>
      <th class=" text-center th-sm">Mobile_NO

      </th>
      <th class="text-center th-sm">City

      </th>
      <th class=" text-center th-sm">Date

      </th>
      <th class="text-center th-sm">Time

      </th>
      <th class=" text-center th-sm">Service

      </th>
      <th class="text-center th-sm">Action

      </th>
    </tr>
  </tfoot>
</table>
</div>


{%endblock%}
