{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block about %}

<div class="container">
  <div class="row servicehd">
    <h4 class="text-center">ABOUT US</h4>
  </div><br/><br>

<div class="row mv abtp ">
  <!-- <div class="row" style="background-image:url({% static 'beautyapp/images/abtss.jpg' %})"></div> -->
  <div class="col-lg-3"><img src="{% static 'beautyapp/images/body2.jpeg' %}" class="img-responsive" style="height:244px"></div>
<div class="col-lg-9">

  <p class="sp">
    Enter a world of blissful luxury at Family International Spa & Salon.

</p>
  <p class=" sp">Family International Spa & Salon has trained, thorough professionals, whose services are sought out by the cream of the city. Our aim is to pamper you from head to toe and take you to a peaceful place, high above your everyday stress. To do this, we offer a range of beauty, hair and massage services, each giving you a different experience. Our experienced beauticians, hairstylists and masseuses are trained to deliver the highest level of service. Lay back, sit pretty and relax at Family International Spa & Salon as our experts pamper you with tranquilizing massages, specialized facials and scrubs, hydrating body wraps and much more.<p></div>
<div class="row">
      <p style="padding-left:29px;margin-right:29px" class=" sp"> Family International Spa & Salon offering our guests an award winning quality of service that embraces the heart of India’s talent for healing and rejuvenation combining the best and most blissful traditional treatments with internationally recognized facilities, classes and therapies to de-stress, regenerate and restore you from the inside out.</p>
<br>
<h4 class="text-center " style="font-size:30px">Our Team</h4>
<p class=" sp" style="padding-left:29px;margin-right:29px;text-align:center">FISS have a well experienced and caring team. Our team gives more than their best treatment to each of you without any delay. Our team main Moto is serve good & bring a satisfied smile on every clients.
</p>
</div>
</div>
</div>


{%endblock%}
