
{% extends 'beautyapp/indexs.html' %}
{% load static %}
{% block register %}

<div class="container rcn">
  <div class="row">
    <h3 class="text-center h3">CAREERS &nbsp<i class="fa fa-briefcase"></i></h3>
  </div>
  <hr class="servicehd1">
<form action="{% url 'careers' %}" method="post">
  {% csrf_token %}
  <input type="text" name="name" placeholder="Name" class="form-control"><br>
  <input type="text" name="address" placeholder="Address" class="form-control"><br>
  <input type="date" name="date" placeholder="Date Of Birth" class="form-control"><br>
  <input type="email" name="email" placeholder="Email" class="form-control"><br>
  <input type="text" name="mobileno" placeholder="Enter Mobile No " class="form-control"><br>
  <input type="text" name="totalexp" placeholder="Toatal Experience" class="form-control"><br>
  <input type="text" name="lastsalary" placeholder="Last Salary Down" class="form-control"><br>
  <input type="file" name="fileupload" placeholder="Upload Your CV" class="form-control" required><br>

  <input type="submit" name ="submit" class="btn btn-success" style="width:100%">
</form>
<div>
  {% for  message in messages %}
  <h1 class="h1">{{message}}</h1>
  {%endfor%}
</div>
</div>


{%endblock%}
