{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block contact %}

<div class="container">
  <div class="row servicehd">
    <h4 class="text-center">Contact US</h4>
  </div>

  <div class="row abtp cdiv">
  <div class="col-lg-1">
    <i class="fa fa-map-marker location" aria-hidden="true"></i>  </div>
    <div class="col-lg-3 ">
    <h4>  HEAD OFFICE:</h4>
    <hr class="lhr">
    <p class="servicep sp">The Elixir Spa, A/001, Kusum Vihar Green Park, Viva College Rd, Near Banjara Hotel, Virar West, Maharashtra 401303.
</p>
  <p> <i class="fa fa-envelope">&nbsp &nbsp &nbsp </i>theelixirspa@gmail.com</p>
  </div>


  <div class="col-lg-8">
    <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
          <iframe src="https://www.google.com/maps/place/Elixir+Thai+SPA/@19.3108151,72.8547146,17.01z/data=!4m12!1m6!3m5!1s0x3be7b19257b8f04d:0x3d82c2d9003b68f9!2sElixir+Thai+SPA!8m2!3d19.3108026!4d72.8568954!3m4!1s0x3be7b19257b8f04d:0x3d82c2d9003b68f9!8m2!3d19.3108026!4d72.8568954" frameborder="0"
            style="border:0;width:100%;height:100%" allowfullscreen></iframe>
        </div>
  </div>

  </div>
  <div class="row abtp cdiv">
  <div class="col-lg-1">
    <i class="fa fa-map-marker location" aria-hidden="true"></i>  </div>
    <div class="col-lg-3 ">
    <h4>  HEAD OFFICE:</h4>
    <hr class="lhr">
    <p class="servicep sp">Elixir Thai Spa, 1st & 2nd Floor, 102 /B, Vinayak Building, Navghar Road, Vasai West, Palghar - 401202, Opposite SBI Bank.
    </p>
      <p> <i class="fa fa-envelope">&nbsp &nbsp &nbsp </i>theelixirspa@gmail.com</p>
  </div>



  <div class="col-lg-8">
    <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
          <iframe src="https://maps.google.com/maps?q=Madryt&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0;width:100%;height:100%" allowfullscreen></iframe>
        </div>
  </div>



  </div>



  </div>



{%endblock%}
