{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block espackage %}

<div class="container">
  <div class="row servicehd">
    <h4 class="text-center">Elixir Services</h4>
  </div><br /><br>
</div>


<div class="container package table-responsive" style="background-color:#31708f;">
  <table class="table table-bordered  ptable">
    <thead>
      <tr class="text-center">
        <th scope="col" class="text-center">SERVICES</th>
        <th scope="col" class="text-center">DURATION</th>
        <th scope="col" class="text-center">PRICE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">FOOT REFLEXOLOGY</td>
        <td class="text-center">30 / 60 Minutes</td>
        <td class="text-center time">599 / 999</td>
      </tr>
      <tr>
        <td class="text-left">FULL LEG MASSAGE</td>
        <td class="text-center">30 / 60 Minutes</td>
        <td class="text-center time">599 / 999</td>
      </tr>
      <tr>
        <td class="text-left">HEAD SHOULDER & NECK</td>
        <td class="text-center">30 / 60 Minutes</td>
        <td class="text-center time">599 / 999</td>
      </tr>
      <tr>
        <td colspan="3">FULL BODY MASSAGE</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspAROMA THERAPY</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1200 / 1900</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspSWEDISH MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1500 / 2200</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspBALINESE MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1500 / 2200</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspDEEP TISSUE MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1800 / 2500</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspAYURVEDIC BODY MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1500 / 2200</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspPOTLI MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">2000 / 2700</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspABHAYANGAM MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1800 / 2500</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspLOMI LOMI MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1800 / 2500</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspTHAI MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">1800 / 2500</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspCOUPLE MASSAGE</td>
        <td class="text-center">60 / 90 Minutes</td>
        <td class="text-center time">2600 / 3600</td>
      </tr>
      <tr>
        <td colspan="3">BLEACHING</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspFACE & NECK</td>
        <td class="text-center"> - </td>
        <td class="text-center time">350</td>
      </tr>

      <tr>
        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspD TAN</td>
        <td class="text-center"> - </td>
        <td class="text-center time">450</td>
      </tr>

      <tr>
        <td colspan="3">WAXING (ONLY FOR LADIES)</td>
            </tr>

          <tr>
            <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbspFULL ARMS</td>
              <td class="text-center" > - </td>
              <td class="text-center time">300</td>
            </tr>

            <tr>
              <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbsp FULL LEGS</td>
                <td class="text-center" > - </td>
                <td class="text-center time">400</td>
              </tr>

              <tr>
                <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbsp UNDER ARMS</td>
                  <td class="text-center" > - </td>
                  <td class="text-center time">100</td>
                </tr>

                <tr>
                  <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbsp FULL WAXING(ARMS + LEGS + UNDER ARMS)</td>
                    <td class="text-center" > -  </td>
                    <td class="text-center time">700</td>
                  </tr>

                  <tr>
                    <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbsp FULL BODY WAXING</td>
                      <td class="text-center" > - </td>
                      <td class="text-center time">1200</td>
                    </tr>
                    <tr>
                      <td colspan="3">POLISHING & WRAP</td>
                    </tr>

                    <tr>
                      <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbsp BODY SCRUB / POLISHING</td>
                      <td class="text-center"> 30 Minutes </td>
                      <td class="text-center time">1499</td>
                    </tr>

                    <tr>
                      <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbsp BODY WRAP / MASK</td>
                        <td class="text-center" >30 Minutes</td>
                        <td class="text-center time">1499</td>
                      </tr>
                      <tr>
                        <td colspan="3">FACIAL</td>
                      </tr>

                      <tr>
                        <td class="text-left"><i class="fa fa-star"></i>&nbsp&nbsp&nbsp RICH FILL / OXY LIFE PROFESSIONAL / VLCC FACIAL</td>
                        <td class="text-center">  -  </td>
                        <td class="text-center time">2500</td>
                      </tr>

                      <tr>
                        <td class="text-left">MANICURE</td>
                        <td class="text-center"> - </td>
                        <td class="text-center time">599</td>
                      </tr>
                      <tr>
                        <td class="text-left">PEDICURE</td>
                        <td class="text-center"> - </td>
                        <td class="text-center time">599</td>
                      </tr>


    </tbody>
  </table>
</div>

{%endblock%}
