{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block espackage %}

<div class="container">
  <div class="row servicehd">
    <h4 class="text-center">Elixir Signature Package</h4>
  </div><br /><br>
</div>

<div class="container package table-responsive">
  <table class="table table-bordered  ptable">
  <thead>
    <tr class="text-center">
      <th scope="col" class="text-center">SERVICES</th>
      <th scope="col" class="text-center">DURATION</th>
      <th scope="col" class="text-center">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td  class="text-center" >Elixir Signature Package</td>
      <td class="text-center" >90 Minutes</td>
      <td class="text-center time">2500</td>
    </tr>
    <tr>
      <td class="text-center">Elixir Signature Massage<br>
      <p>+</p>
      Body Polishing(Scrubbing)
      <br>
      </td>
      <td class="text-center time" style="padding-top:39px">120 Minutes</td>
      <td class="text-center time" style="padding-top:39px">3500</td>
    </tr>
    <tr>
      <td class="text-center time">Elixir Signature Massage<br>
      <p>+</p>
      Body Polishing(Scrubbing)<br>
      <p>+</p>
      Body Wrap (Map)
      <br>
      </td>
      <td class="text-center time" style="padding-top: 76px;">150 Minutes</td>
      <td class="text-center time" style="padding-top: 76px;">4500</td>
    </tr>
    <tr>
      <td class="text-center">Elixir Signature Massage<br>
      <p>+</p>
      Body Polishing(Scrubbing)<br>
      <p>+</p>
      Body Wrap (Map)
      <p>+</p>
      Facial
      <br>
      </td>
      <td class="text-center time" style="padding-top: 108px;">180 Minutes</td>
      <td class="text-center time" style="padding-top: 108px;">6000</td>
    </tr>
  </tbody>
</table>
</div>

{%endblock%}
