{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block about %}



<div class="container cncbanner" style="background-image:url({% static 'beautyapp/images/body1.jpeg' %})">
<div class="layer"></div>

  <div class="row bannerrow">
    <div class="col-lg-6 banner " style="background-image:url({% static 'beautyapp/images/menfootrefl.jpeg' %});"></div>
    <div class="col-lg-6 banner1">

      <div class="row">
        <h1 class="text-center" style="color:#ec459a">FOOT REFLEXOLOGY</h1>
        <div class="row desbanner">
      <p class="bannerp">In FISS we provide best FOOT REFLEXOLOGY Massage.

      This Foot Reflexology helps to improve blood circulation,

      relaxation, relieves body pain and make your feet healthier.</p>
        </div>
    </div>

    <div class="row bannerprice" style="">
  <div class="col-lg-6"><p class="bannerp">DURATION = 30/60 Minutes</p></div>
  <div class="col-lg-6"><p class="bannerp bannerp1">PRICE = Rs 599 / 999</p></div>
  </div>
  </div>
  </div >

  <div class="row bannerrow">
    <div class="col-lg-6 banner2">

      <div class="row">
        <h1 class="text-center" style="color:#ec459a">FULL LEG MASSAGE</h1>
        <div class="row desbanner">
      <p  class="bannerp">In FISS we provide best FULL LEG MASSAGE.

This Leg massage helps in relieve sore, tired muscles and strong

pressure reduces tension and pain in your muscles.</p>
        </div>
    </div>

    <div class="row bannerprice" style="">
  <div class="col-lg-6"><p class="bannerp">DURATION = 30/60 Minutes</p></div>
  <div class="col-lg-6"><p class="bannerp bannerp1">PRICE = Rs 599 / 999</p></div>
  </div>
  </div>

    <div class="col-lg-6 banner banners " style="background-image:url({% static 'beautyapp/images/Flegmassage.jpg' %});"></div>

  </div >


</div>




{%endblock%}
