{% extends 'beautyapp/indexs.html' %}
{% load static %}
{% block homepage %}
<!-- Hero section -->
<div class="container c1">

  <!-- Slider 1 -->
  <div class="slider" id="slider1">
    <!-- Slides -->
    <!-- <div style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/1200_bodie-11.jpg)"></div> -->
    <div style="background-image:url({% static 'beautyapp/images/sll1.jpg' %})"></div>
    <!-- <div style="background-image:url({% static 'beautyapp/images/sl2.jpg' %})"></div> -->

    <div style="background-image:url({% static 'beautyapp/images/menfootrefl.jpeg' %})"></div>

    <div style="background-image:url({% static 'beautyapp/images/sll3.jpeg' %})"></div>
    <div style="background-image:url({% static 'beautyapp/images/couplemaage.jpg' %})"></div>


    <!-- <div style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/jungle.jpg)"></div>
    <div style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/Gif-pont-lueur-600.gif)"></div>
    <div style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/1200_110627-8240-Myst.jpg)"></div>
    <div style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/30256/1200_Sharpened-version.jpg)"></div> -->
    <!-- The Arrows -->
    <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path>
      </svg></i>
    <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) "></path>
      </svg></i>
    <!-- Title Bar -->
    <span class="titleBar">
        <h1 class="text-center" style="font-style:italic;color:gold">RELAX &nbsp RENEW &nbsp REFRESH</h1>
    </span>
  </div>
</div>




{%block services%}
<div class="container servicehdcn">
  <div class="row servicehd">

    <h4 class="text-center">SERVICES</h4>
  </div>

  <div class="row servicerow" style="background-image:url({% static 'beautyapp/images/menbg.jpeg' %})" >
    <div class="col-lg-6 bs">
      <h4 class="text-center sh4">Men's Services</h4><br>
    <a href="{%url 'mens'%}">  <img class="serimg" src="{% static 'beautyapp/images/men.jpeg' %}" /><br></a>
      <p class="servicep">FISS gave their best retreat and high performance massage and
        skincare treatments for men’s. Our specialists provide upper body massage and ease
        the tension in the shoulders, back, neck and hands.</p>
    </div>
    <div class="col-lg-6 bs">
     <h4 class="text-center sh4">Ladies Services</h4><br>
    <a href="{%url 'service'%}" >  <img class="serimg" src="{% static 'beautyapp/images/girl.jpeg' %}" height="373" /><br></a>
      <p class="servicep">FISS is your spa, where you can have the best relaxation & it most suitable for you. Our therapists and estheticians will care and deliver results according to your comfortable.
      </p>


    </div>



  </div>

</div>
{%endblock%}

<div class="container servicehdcn hidden-xs">
  <div class="col-lg-12 servicehd">
    <h4 class="text-center">POPULAR &nbspPROCEDURES</h4>
  </div>




  <div class="row">
      <div class="col-lg-12 child">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  <!--    <li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner hidden-xs" role="listbox">
      <div class="item active">
        <div class="row">
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{% static 'beautyapp/images/Ayurvedisage.jpg' %}" alt="sandy" />
            <div class="carousel-caption sh5">AYURVEDIC&nbsp MASSAGE</div>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{%static 'beautyapp/images/lomilmassage.jpg'%}" alt="" />
            <div class="carousel-caption sh5">LOMI&nbsp LOMI &nbspMASSAGE</div>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{%static 'beautyapp/images/footreflexol.png'%}" alt="" />
            <div class="carousel-caption sh5">FOOT &nbspREFLEXOLOGY </div>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{% static 'beautyapp/images/Thaimassage.jpg' %}" alt="" />
            <div class="carousel-caption sh5">THAI&nbsp MASSAGE</div>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{% static 'beautyapp/images/swedishmsage.jpg' %}" alt="" />
            <div class="carousel-caption sh5">SWEDISH &nbspMASSAGE:</div>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{% static 'beautyapp/images/Abhayangam.jpg' %}" alt="" />
            <div class="carousel-caption sh5">ABHAYANGAM</div>
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{% static 'beautyapp/images/couplemaage.jpg' %}" alt="" />
            <div class="carousel-caption sh5">COUPLE&nbsp MASSAGE</div>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{% static 'beautyapp/images/aromatherapy.jpg' %}" alt="" />
            <div class="carousel-caption sh5">AROMA&nbsp THERAPY</div>
            </a>
          </div>
          <div class="col-sm-4">
            <a class="thumbnail" href="#">
              <img src="{% static 'beautyapp/images/balinemassage.jpg' %}" alt="" />
            <div class="carousel-caption sh5">BALINESE &nbspMASSAGE</div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
      </div>
    </div>

</div>

<div class="container servicehdcn">
  <div class="row">
    <div class="col-lg-4 ">
      <h4 class="servicehd text-center hfor">TOP &nbspSPA &nbspTIPS</h4>
      <section class="sectionp ">
        <ul>
          <li class="servicep " style="color:#1b140e">Light: Try not to eat any heavy meals or consume alcohol. Have something light to eat instead.</li>
            <li class="servicep " style="color:#1b140e">Light: Try not to eat any heavy meals or consume alcohol. Have something light to eat instead.</li>

        </ul>
        <!-- <p class="p1"><i class="fa fa-star"></i>&nbspGo Light: Try not to eat any heavy meals or consume alcohol. Have something light to eat instead.</p>
        <p class="p1"><i class="fa fa-star"></i>&nbspGo Light: Try not to eat any heavy meals or consume alcohol. Have something light to eat instead.</p>
        <p class="p1"><i class="fa fa-star"></i>&nbspGo Light: Try not to eat any heavy meals or consume alcohol. Have something light to eat instead.</p>
      </section> -->

    </div>
    <div class="col-lg-4 ">
      <h4 class="servicehd text-center hfor">GIFT &nbspA &nbspFRIEND</h4>
      <a href="{%url 'buygift'%}"> <img class="card-img-top" src="{% static 'beautyapp/images/gifts1.jpg' %}" width="354" height="263"></a>

    </div>
    <div class="col-lg-4 ">
      <h4 class="servicehd text-center hfor" >WORKING&nbsp HOURS</h4>
      <section class="sectionp" style="background-image:url({% static 'beautyapp/images/clocks.jpg' %})">

        <p class="p1 workp"><b>Monday to Sunday : </b>12am - 10pm</p>
        <p class="p1 workp"><b>Mumbai Vasai(w)</b>
          <p />
          <p class="p1 workp">Phone No: +91 7507862625</p><br>

          <p class="p1 workp"><b>Mumbai Virar(w)</b>
            <p />
            <p class="p1 workp">Mobile No: +91 7507862625</p><br>



      </section>

    </div>

  </div>

</div>

<div class="container contsub servicehd">
  <div class="row contsubrow ">
    <div class="col-lg-3 col-sm-3">
      <p class="sn">Subscribe&nbsp to&nbsp Newsletter</p>
    </div>
    <div class="col-lg-3 col-sm-3"><input type="text" class="form-control" placeholder="your name" /></div>
    <div class="col-lg-3 col-sm-3 txtbx"><input type="text" class="form-control" placeholder="email address" /></div>
    <div class="col-lg-3 col-sm-3"><a href="#" class="btn btn-primary subbtn sb">Subscribe</a></div>

  </div>
</div>

<div>
  {% for  message in messages %}
  {% if message.tags == "success" %}
    <script>
      alert("Your Appointment Booking Successful")
    </script>
    {% endif %}
  {% endfor %}
</div>

<div>
  {% for  message in messages %}
  {% if message.tags == "info" %}
    <script>
      alert("Thanks! For Showing Interest")
    </script>
    {% endif %}
  {% endfor %}
</div>

<div>
  {% for  message in messages %}
  {% if message.tags == "warning" %}
    <script>
      alert("Thanks! for refer friend gift")
    </script>
    {% endif %}
  {% endfor %}
</div>

<script>
  (function($) {
    "use strict";
    $.fn.sliderResponsive = function(settings) {

      var set = $.extend({
          slidePause: 5000,
          fadeSpeed: 800,
          autoPlay: "on",
          showArrows: "off",
          hideDots: "off",
          hoverZoom: "on",
          titleBarTop: "off"
        },
        settings
      );

      var $slider = $(this);
      var size = $slider.find("> div").length; //number of slides
      var position = 0; // current position of carousal
      var sliderIntervalID; // used to clear autoplay

      // Add a Dot for each slide
      $slider.append("<ul></ul>");
      $slider.find("> div").each(function() {
        $slider.find("> ul").append('<li></li>');
      });

      // Put .show on the first Slide
      $slider.find("div:first-of-type").addClass("show");

      // Put .showLi on the first dot
      $slider.find("li:first-of-type").addClass("showli")

      //fadeout all items except .show
      $slider.find("> div").not(".show").fadeOut();

      // If Autoplay is set to 'on' than start it
      if (set.autoPlay === "on") {
        startSlider();
      }

      // If showarrows is set to 'on' then don't hide them
      if (set.showArrows === "on") {
        $slider.addClass('showArrows');
      }

      // If hideDots is set to 'on' then hide them
      if (set.hideDots === "on") {
        $slider.addClass('hideDots');
      }

      // If hoverZoom is set to 'off' then stop it
      if (set.hoverZoom === "off") {
        $slider.addClass('hoverZoomOff');
      }

      // If titleBarTop is set to 'on' then move it up
      if (set.titleBarTop === "on") {
        $slider.addClass('titleBarTop');
      }

      // function to start auto play
      function startSlider() {
        sliderIntervalID = setInterval(function() {
          nextSlide();
        }, set.slidePause);
      }

      // on mouseover stop the autoplay
      $slider.mouseover(function() {
        if (set.autoPlay === "on") {
          clearInterval(sliderIntervalID);
        }
      });

      // on mouseout starts the autoplay
      $slider.mouseout(function() {
        if (set.autoPlay === "on") {
          startSlider();
        }
      });

      //on right arrow click
      $slider.find("> .right").click(nextSlide)

      //on left arrow click
      $slider.find("> .left").click(prevSlide);

      // Go to next slide
      function nextSlide() {
        position = $slider.find(".show").index() + 1;
        if (position > size - 1) position = 0;
        changeCarousel(position);
      }

      // Go to previous slide
      function prevSlide() {
        position = $slider.find(".show").index() - 1;
        if (position < 0) position = size - 1;
        changeCarousel(position);
      }

      //when user clicks slider button
      $slider.find(" > ul > li").click(function() {
        position = $(this).index();
        changeCarousel($(this).index());
      });

      //this changes the image and button selection
      function changeCarousel() {
        $slider.find(".show").removeClass("show").fadeOut();
        $slider
          .find("> div")
          .eq(position)
          .fadeIn(set.fadeSpeed)
          .addClass("show");
        // The Dots
        $slider.find("> ul").find(".showli").removeClass("showli");
        $slider.find("> ul > li").eq(position).addClass("showli");
      }

      return $slider;
    };
  })(jQuery);



  //////////////////////////////////////////////
  // Activate each slider - change options
  //////////////////////////////////////////////
  $(document).ready(function() {

    $("#slider1").sliderResponsive({
      // Using default everything
      // slidePause: 5000,
      // fadeSpeed: 800,
      // autoPlay: "on",
      // showArrows: "off",
      // hideDots: "off",
      // hoverZoom: "on",
      // titleBarTop: "off"
    });

    $("#slider2").sliderResponsive({
      fadeSpeed: 300,
      autoPlay: "off",
      showArrows: "on",
      hideDots: "on"
    });

    $("#slider3").sliderResponsive({
      hoverZoom: "off",
      hideDots: "on"
    });

  });
</script>
<script>
  let modalId = $('#image-gallery');

  $(document)
    .ready(function() {

      loadGallery(true, 'a.thumbnail');

      //This function disables buttons when needed
      function disableButtons(counter_max, counter_current) {
        $('#show-previous-image, #show-next-image')
          .show();
        if (counter_max === counter_current) {
          $('#show-next-image')
            .hide();
        } else if (counter_current === 1) {
          $('#show-previous-image')
            .hide();
        }
      }

      /**
       *
       * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
       * @param setClickAttr  Sets the attribute for the click handler.
       */

      function loadGallery(setIDs, setClickAttr) {
        let current_image,
          selector,
          counter = 0;

        $('#show-next-image, #show-previous-image')
          .click(function() {
            if ($(this)
              .attr('id') === 'show-previous-image') {
              current_image--;
            } else {
              current_image++;
            }

            selector = $('[data-image-id="' + current_image + '"]');
            updateGallery(selector);
          });

        function updateGallery(selector) {
          let $sel = selector;
          current_image = $sel.data('image-id');
          $('#image-gallery-title')
            .text($sel.data('title'));
          $('#image-gallery-image')
            .attr('src', $sel.data('image'));
          disableButtons(counter, $sel.data('image-id'));
        }

        if (setIDs == true) {
          $('[data-image-id]')
            .each(function() {
              counter++;
              $(this)
                .attr('data-image-id', counter);
            });
        }
        $(setClickAttr)
          .on('click', function() {
            updateGallery($(this));
          });
      }
    });

  // build key actions
  $(document)
    .keydown(function(e) {
      switch (e.which) {
        case 37: // left
          if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
            $('#show-previous-image')
              .click();
          }
          break;

        case 39: // right
          if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
            $('#show-next-image')
              .click();
          }
          break;

        default:
          return; // exit this handler for other keys
      }
      e.preventDefault(); // prevent the default action (scroll / move caret)
    });
</script>
<script>
  $(document).ready(function() {

  $("#owl-demo").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

  });

});
</script>

{%endblock%}
