{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block espackage %}
<div class="container">
  <div class="row servicehd">
    <h4 class="text-center">MEMBERSHIP&nbsp PLANS</h4>
    <p class="text-center p2">(&nbsp For Privileged Guest Only&nbsp)</p>
  </div><br /><br>
</div>

<div class="container mplan table-responsive">
  <table class="table table-bordered  ptable">
  <tr>
    <th class="text-center">CHOICE &nbspOF&nbsp MASSAGE&nbsp THERAPY</th>
    <th class="text-center">SESSION</th>
    <th class="text-center">PRICE</th>


  </tr>
  <tr>
    <td class="text-center">Aroma Therapy / Swedish Massage / Ballinese Massage / Ayurvedic Massage</td>
    <td class="text-center">6 / 12 Sessions<br>
      (60 Minutes / Session)
    </td>
    <td class="text-center">6000 / 10000  </td>

  </tr>
  <tr>
    <td class="text-center">Deep Tissue Massage / Lomi Lomi Massage / Abhangam Massage / Thai Massage</td>
    <td class="text-center">4 / 8 Sessions<br>
      (60 Minutes / Session)
</td>
    <td class="text-center">6000 / 10000</td>

  </tr>
  <tr>
    <td colspan="3">
      <ul>
        <li>Membership Is Valid For Six / Twelve Months(Entire Family Members Can Use Massage) . </li>
        <li>For Getting Membership Guest Has To Pay Full Payment In Advance .</li>
        <li>Prior Appointment Is Required .</li>
        <li>Valid From Monday To Sunday</li>
        <li>The FISS Reserved Rights To Cancel The Membership Of Guest At Any Time .</li>


      </ul>
    </td>
  </tr>
</table>
</div>

{%endblock%}
