{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block about %}
<div class="container">
<div class="row servicehd">
  <h4 class="text-center">Men's Services</h4>
</div><</div><br><br>
<div class="container mencn " style="background-image:url({% static 'beautyapp/images/mens.jpeg' %})">
<div class="row mv" style="padding:10px 10px;">
  <!-- <p>FISS gave their best retreat and high performance massage
    and skincare treatments for men’s. Our specialists provide upper
     body massage and ease the tension in the shoulders, back, neck and hands.
     It’s perfect for those who travel more and even for the men’s who sitting
     and working on a computer. Whoever receives our service they really will appreciate
     the relaxation at work and a great way to improve morale.</p> -->
</div>
<div class="row">

  <div class="col-lg-4">
    <h4 class="text-center sh5">Men’s Skin Care</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/menskin.jpg' %}"  width="222" height="222"/><br>


  </div>
  <div class="col-lg-4">
    <h4 class="text-center sh5">Men’s Deep Tissue</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/mendeep.jpg' %}"  width="222" height="222"/><br>


  </div>
  <div class="col-lg-4">
    <h4 class="text-center sh5">Men’s Foot Reflexology</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/menfootrefl.jpeg' %}"  width="222" height="222"/><br>


  </div>


</div>
<div class="row">

  <div class="col-lg-4">
    <h4 class="text-center sh5"> Full Body Massage</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/menfulbody.jpg' %}"  width="222" height="222"/><br>


  </div>
  <div class="col-lg-4">
    <h4 class="text-center sh5"> Leg Massage</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/menleg.jpeg' %}"  width="222" height="222"/><br>


  </div>
  <div class="col-lg-4">
    <h4 class="text-center sh5">Head Shoulder & Neck </h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/menekhed.jpg' %}"  width="222" height="222"/><br>


  </div>


</div>

<div class="row">

  <div class="col-lg-4">
    <h4 class="text-center sh5"> Bleaching</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/menbleach.jpg' %}"  width="222" height="222"/><br>


  </div>
  <div class="col-lg-4">
    <h4 class="text-center sh5"> Polishing & Wrap</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/menpolish.jpg' %}"  width="222" height="222"/><br>


  </div>
  <div class="col-lg-4">
    <h4 class="text-center sh5"> Manicure & Pedicure</h4>
    <img  class="serimgs" src="{% static 'beautyapp/images/Men’sManPedicure.jpg' %}"  width="222" height="222"/><br>


  </div>


</div>





</div>

{%endblock%}
