
{% extends 'beautyapp/indexs.html' %}
{% load static %}
{% block register %}

<div class="container rcn">
  <div class="row">
    <h3 class="text-center h3">Register Here <i class="fa fa-registered"></i></h3>
  </div>
  <hr class="servicehd1">
<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <input type="text" name="first_name" placeholder="first_name" class="form-control"><br>
  <input type="text" name="last_name" placeholder="last_name" class="form-control"><br>
  <input type="text" name="username" placeholder="username" class="form-control"><br>
  <input type="email" name="email" placeholder="email" class="form-control"><br>
  <input type="password" name="password1" placeholder="password" class="form-control"><br>
  <input type="password" name="password2" placeholder="confirm password" class="form-control"><br>
  <input type="submit" name ="submit" class="btn btn-success" style="width:100%">
</form>
<div>
  {% for  message in messages %}
  <h1 class="h3">{{message}}</h1>
  {%endfor%}
</div>
</div>


{%endblock%}
