{% extends 'beautyapp/indexs.html' %}

{% load static %}
{% block Services %}

<div class="container">
  <div class="row servicehd">
    <h4 class="text-center">Services</h4>
  </div><br /><br>
</div>

<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" id="foot">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">FOOT REFLEXOLOGY MASSAGE</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/footreflexol.png' %});">
          <div class="row panelrow">
            <p class="panelp">In FISS we provide best FOOT REFLEXOLOGY Massage.</p>
            <p class="panelp">This Foot Reflexology helps to improve blood circulation,</p>
            <p class="panelp"> relaxation, relieves body pain and make your feet healthier.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 30 / 60 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 599 / 999</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" id="leg">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">FULL LEG MASSAGE</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Flegmassage.jpg' %});">
          <div class="row panelrow">
            <p class="panelp">In FISS we provide best FULL LEG MASSAGE. This Leg </p>
            <p class="panelp"> massage helps in relieve sore, tired muscles and strong</p>
            <p class="panelp"> pressure reduces tension and pain in your muscles.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 30 / 60 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 599 / 999</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">HEAD, SHOULDER & NECK MASSAGE</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Hdshoulneck.png' %});">
          <div class="row panelrow">
            <p class="panelp">In FISS we provide best HEAD, SHOULDER & NECK MASSAGE.</p>
            <p class="panelp"> This massage helps to relax, reduce muscle pain, tension,</p>
            <p class="panelp"> stress and many more.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 30 / 60 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 599 / 999</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>

    <div class="row servicehd">
      <h4 class="text-center">FULL BODY MASSAGE </h4>
    </div><br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">AROMA THERAPY</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/aromatherapy.jpg' %});">

          <div class="row panelrow">
            <p class="panelp">In FISS we provide best AROMA THERAPY. </p>
            <p class="panelp">This therapy is used to manage pain, improve</p>
            <p class="panelp"> sleep quality, reduces stress, agitation, and anxiety.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1200 / 1900</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">SWEDISH MASSAGE</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/swedishmsage.jpg' %});">

          <div class="row panelrow">
            <p class="panelp">In FISS we provide best SWEDISH MASSAGE. This massage is most popular in US. </p>
            <p class="panelp">It involves the use of hands, forearms or elbows to manipulate</p>
            <p class="panelp"> the superficial layers of the muscles to improve mental and physical health.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1500 / 2200</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">BALINESE MASSAGE</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/balinemassage.jpg' %});">

          <div class="row panelrow">
            <p class=" text-center" style="color:white;font-size:25px">In FISS we provide best BALINESE MASSAGE. This massage uses a combination of gentle stretches,acupressure,
              body and helps to bring a sense of wellbeing, calm and deep relaxation.</p>
          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1500 / 2200</h3>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">DEEP TISSUE MASSAGE</a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Deeptissue.jpeg' %});">

          <div class="row panelrow">
            <p class="panelp panelps" style="">In FISS we provide best DEEP TISSUE MASSAGE. This massage is used to treat musculoskeletal issues,
              such as strains and sports injuries. It involves applying sustained pressure using slow,
              deep strokes to target the inner layers of your muscles and connective tissues.
              It helps to break up scar tissue that forms following an injury and reduce
              tension in muscle and tissue. </p>

          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1800 / 2500</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">AYURVEDIC BODY MASSAGE</a>
        </h4>
      </div>
      <div id="collapse8" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Ayurvedisage.jpg' %});">

          <div class="row panelrow">
            <p class="panelp" style="color:white">In FISS we provide best AYURVEDIC BODY MASSAGE. This massage helps to </p>
            <p class="panelp" style="color:white"> focuses on relaxation, stress relief and releasing emotional blockages </p>


          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1500 / 2200</h3>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">POTLI MASSAGE </a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Potli-massage.jpg' %});">

          <div class="row panelrow">
            <p class="panelp panelps">In FISS we provide best POTLI MASSAGE. This massage is often recommended for illnesses such as
              rheumatoid arthritis, spondylitis, frozen shoulders, osteoarthritis. It helps to
              relieve pain and inflammation, improve blood circulation and flexibility. </p>

          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 2000 / 2700</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">ABHAYANGAM</a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Abhayangam.jpg' %});">

          <div class="row panelrow">
            <p class="panelps" style="color:white;margin-top:77px">In FISS we provide best ABHAYANGAM. This is an oil massage and it involves massage
              of the body with dosha-specific warm herb infused oils.</p>

          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1800 / 2500</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">LOMI LOMI MASSAGE</a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/lomilmassage.jpg' %});">

          <div class="row panelrow">
            <p class="panelps" style="color:white">In FISS we provide best LOMI LOMI MASSAGE. It is a traditional Hawaiian massage that uses a
              combination of massage techniques, nut oils, and sometimes element</p>

          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1800 / 2500</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">THAI MASSAGE </a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/Thaimassage.jpg' %});">

          <div class="row panelrow">
            <p class="panelps" style="color:white"> In FISS we provide best THAI MASSAGE. This massage is uses gentle pressure and stretching techniques
              to relax the whole body. This is an ancient healing practice that originated in India.</p>

          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 1800 / 2500</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">COUPLE MASSAGE </a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse ">
        <div class="panel-body" style="background-image:url({% static 'beautyapp/images/couplemaage.jpg' %});">

          <div class="row panelrow">
            <p class="panelps" style="color:white"> In FISS we provide best COUPLE MASSAGE. This is when you and a friend each enjoy a massage
              while lying on two separate beds next to each other. There are two massage
              therapists - one for each person. Like any other massage a couple massage
              may include soothing music, aromatherapy, or candle lighting.</p>

          </div>
          <div class="row srow">
            <div class="col-lg-4 stime">
              <h3 class="text-center">DURATION = 60 / 90 Minutes<h3>
            </div>
            <div class="col-lg-4 sprice">
              <h3 class="text-center">PRICE = ₹ 2600 / 3600</h3>
            </div>
          </div>
        </div>
      </div>
    </div><br><br>

    <div class="row servicehd">
      <h4 class="text-center">SKIN & BEAUTY</h4>
    </div><br />

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">BLEACHING</a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse ">
        <div class="panel-body">

          <div class="row">

            <div class="col-lg-6 panel-body" style="background-image:url({% static 'beautyapp/images/f&n.jpg' %});">
              <div class="row srow">
                <!-- <div class="col-lg-4 stime">
        <h3 class="text-center">DURATION = <h3>
      </div> -->
                <p class="panelp"> In FISS we do best bleaching for : <br /> <br /><br />
                  <h4 class="text-center" style="text-transform:uppercase;color:blue"> face & Neck </h4>

                  <div class="col-lg-12 sprice">
                    <h3 class="text-center">PRICE = ₹ 350</h3>
                  </div>
              </div>
            </div>
            <div class="col-lg-6 panel-body" style="background-image:url({% static 'beautyapp/images/dtans.jpg' %});">
              <h4 class="text-center" style="color:blue;margin-top:234px">D Tan.</h4>
              <div class="col-lg-12 sprice">
                <h3 class="text-center">PRICE = ₹ 450</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse16">WAXING (ONLY LADIES) </a>
        </h4>
      </div>
      <div id="collapse16" class="panel-collapse collapse ">

        <div class="row" style="margin-left:-1px;margin-right:-1px">
          <div class="col-lg-12" style="background-image:url({% static 'beautyapp/images/aqua_flower.jpg' %});background-repeat:no-repeat;background-size:cover">

            <div class="col-lg-5" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color:rgba(255,255,255,.15);border-radius: 10px;    padding-left: 28px;">
              <div class="row">
                <h3 CLASS="text-center" style="font-size:19px;color:white">In FISS We Do Good WAXING For Ladies</h3>
              </div>
              <div class="row">
                <div class="row srow">
                  <div class="col-lg-12 stimes">
                    <h3 class="text-center">FULL&nbsp ARMS<h3>
                  </div>
                  <div class="col-lg-12 sprices">
                    <h3 class="text-center">PRICE = ₹ 300</h3>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="row srow">
                  <div class="col-lg-12 stime">
                    <h3 class="text-center">FULL&nbsp LEGS<h3>
                  </div>
                  <div class="col-lg-12 sprices">
                    <h3 class="text-center">PRICE = ₹ 400</h3>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="row srow">
                  <div class="col-lg-12 stimes">
                    <h3 class="text-center">UNDER &nbspARMS<h3>
                  </div>
                  <div class="col-lg-12 sprices">
                    <h3 class="text-center">PRICE = ₹ 100</h3>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="row srow">
                  <div class="col-lg-12" style="108px;background-color: #ec3d6b;">
                    <h3 class="text-center stimes" style="height:25px">FULL&nbsp WAXING </h3>
                    <P class="text-center" style="color:black;font-size:20px">{&nbspARMS + LEGS + UNDER ARMS&nbsp}</P>


                  </div>
                  <div class="col-lg-12 sprices">
                    <h3 class="text-center">PRICE = ₹ 700</h3>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="row srow">
                  <div class="col-lg-12 stimes">
                    <h3 class="text-center">FULL &nbspBODY <h3>
                  </div>
                  <div class="col-lg-12 sprices">
                    <h3 class="text-center">PRICE = ₹ 1200</h3>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-7">
              <div class="row waximg" style="background-image:url({% static 'beautyapp/images/waxing-farms.jpg' %});height:300px;"></div>
              <div class="row waximg" style="background-image:url({% static 'beautyapp/images/waxing-fulegs.jpg' %});height:300px;"></div>
              <div class="row waximg" style="background-image:url({% static 'beautyapp/images/waxingarms.jpg' %});height:300px;"></div>
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse17">POLISHING &nbsp & &nbspWRAP </a>
        </h4>
      </div>
      <div id="collapse17" class="panel-collapse collapse ">
        <div class="panel-body ">

          <div class="col-lg-12 bx">
            <p class="panelps" style="color:#b72c34"> In FISS we do our best POLISHING & WRAP service </p><br>

            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <h4 class="text-center">BODY SCRUB / POLISHING</h4><br>
                </div>
                <div class="row" style="margin-top: -39px;">
                  <h2 class="text-center" style="color:gold">Price = 1449</h2>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <h4 class="text-center">BODY WRAP / MASK</h4>
                </div>
                <div class="row" style="margin-top: -19px;">
                  <h2 class="text-center" style="color:gold">Price = 1449</h2>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 waximg " style="background-image:url({% static 'beautyapp/images/polishinwrappolishing.jpg' %});"></div>
            <div class="col-lg-6 waximg" style="background-image:url({% static 'beautyapp/images/bodywrapmak.jpg' %});"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse18">FACIAL</a>
        </h4>
      </div>
      <div id="collapse18" class="panel-collapse collapse ">
        <div class="panel-body ">

          <div class="col-lg-12 bx">
            <p class="panelps" style="color:#b72c34"> In FISS we do variety of facials according to clients like </p><br>

            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <h4 class="text-center fac">RICH FEEL / OXY LIFE PRODESSIONAL / VLCC : PRICE = 2500</h4><br>
                </div>

              </div>


            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 waximg " style="background-image:url({% static 'beautyapp/images/facial.jpg' %});height:500px;"></div>

          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse19">MANICURE &nbsp& &nbspPEDICURE</a>
        </h4>
      </div>
      <div id="collapse19" class="panel-collapse collapse ">
        <div class="panel-body waximg" style="background-image:url({% static 'beautyapp/images/manp.jpg' %});width:100%;height:500px;">

                    <div class="col-lg-12">
                      <p class="text-right mn" > In FISS we do our best POLISHING & WRAP service </p><br>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="row">
                            <h4 class="text-center" style="color:#ca0e64">MANICURE</h4><br>
                          </div>
                          <div class="row" style="margin-top: -39px;">
                            <h2 class="text-center" style="color:black">Price = 599</h2>
                          </div>
                        </div>        </div>

                    </div>

                    <div class="col-lg-12" style="margin-top:80px">
                      <h4 class="text-right" style="color:#ca0e64">PEDICURE</h4>
                      <h2 class="text-right" style="color:black">Price = 599</h2>
                    </div>

        </div>
      </div>
    </div>



  </div>
</div>


{%endblock%}
